@font-face {
  font-family: 'highbright';
  src: url('./Fonts/Highbright.otf') format('opentype'), 
       url('./Fonts/Highbright.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu';
  src: url('./Fonts/cmunci.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}